{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.headerBanner.enable }}

{{ with $data.homepage.headerBanner }}
<section class="section" style="padding: 0px">
  <div class="container">
    <div class="row" onclick="location.href='{{ "products/product_1" | relLangURL }}'" style="cursor: pointer;">
      <picture class="img-fluid">
        <source 
           media="(max-width: 767px)"
           srcset="{{ .imageSmall | absURL }}">
        <img class="img-fluid round-corners" src="{{ .image | absURL }}" alt="promo">
     </picture>
    </div>
  </div>
</section>
{{ end }}
{{ end }}