{{ if .Params.gallery_buy.enable }}

<section class="section">
	<div class="container">
		<div class="heading">
			<h2>{{ .Params.title | markdownify }}</h2>
		</div>
	  <div class="row">
		<div class="col-md-6 mb-4 mb-md-0">
		  <!-- product image slider -->
		  <div class="product-image-slider">
			{{ range .Params.images }}
			<div data-image="{{ . | absURL }}">
			  <img class="img-fluid w-100" src="{{ . | absURL }}" alt="product-image">
			</div>
			{{ end }}
		  </div>
		</div>
		<div class="col-lg-5 col-md-6 offset-lg-1">
			<!--TODO clean this-->
		  <p><strong>{{ i18n "colors" }}:</strong> {{delimit .Params.gallery_buy.colors ", "}}</p>
		  <p><strong>{{ i18n "sizes" }}: <span style="font-size:larger;">{{ .Params.gallery_buy.size }}</span></strong>{{ if .Params.gallery_buy.other_sizes }}, {{delimit .Params.gallery_buy.other_sizes ", "}}{{ end }} (<a href="#{{ .Params.Title }} other_products"><u>ver outros tamanhos</u></a>) </p>
		  <div class="py-4">
			<p style="font-weight: 600;"><i class="tf-ion-ios-pricetags"></i> Preço por unidade:</p>
			<p class="price">
				{{if .Params.gallery_buy.discount_price}}
					<s class="price">{{site.Params.currency}}{{ .Params.gallery_buy.price }}</s>
				{{end}}
				{{if .Params.gallery_buy.discount_price}}
					{{site.Params.currency}}{{.Params.gallery_buy.discount_price}}
				{{else}}
					{{site.Params.currency}}{{.Params.gallery_buy.price}}
				{{end}}
				<span style="font-size: small;">*</span>
			</p>
		  </div>
		  {{ if .Site.Params.enable_cart }}
		  <button class="snipcart-add-item btn btn-main mb-5" 
			data-item-id="{{.Params.gallery_buy.Title | urlize}}__{{if .Params.gallery_buy.discount_price}}{{.Params.gallery_buy.discount_price}}{{else}}{{.Params.gallery_buy.price}}{{end}}"
			data-item-name="{{.Params.gallery_buy.Title}}"
			data-item-image="{{range first 1 .Params.images}}{{. | absURL}}{{end}}"
			data-item-price="{{if .Params.gallery_buy.discount_price}}{{.Params.gallery_buy.discount_price}}{{else}}{{.Params.gallery_buy.price}}{{end}}" data-item-url="{{.Permalink}}" 
			{{ if .Params.gallery_buy.colors }}
			data-item-custom1-name="Choose Color"
			data-item-custom1-options="{{range $index, $element:= .Params.gallery_buy.colors}}{{ if eq $index 0 }}{{. | title}}{{ else }}|{{. | title }}{{end}}{{end}}"
			{{ end }}
			{{ if .Params.gallery_buy.sizes }}
			data-item-custom2-name="Choose Size"
			data-item-custom2-options="{{range $index, $element:= .Params.gallery_buy.sizes}}{{if eq $index 0}}{{. | title}}{{else}}|{{. | title}}{{end}}{{end}}"
			{{end}}>{{i18n "add_to_cart"}}
		  </button>
		  {{ else }}
		  	<!-- Botão para acionar modal -->
		  	<button type="button" class="btn btn-main mb-5" data-toggle="modal" data-target="#buyContactUs">
			  Encomendar <!--TODO text martelado-->
		  	</button>
		  {{ end }}
		  	<div class="content">
				<ul>
					{{ with .Params.gallery_buy.info}}
					<li>
						{{ .description }}
					</li>
					<li>
						<strong>{{ i18n "material" }}: </strong>{{ .material }}
					</li>
					<li>
						<strong>{{ i18n "dimensions" }}: </strong>{{ .dimensions }}
					</li>
					<li>
						*{{ .extras }}
					</li>
					{{ end }}
				</ul>
			  {{.Params.gallery_buy.Content}}
			</div>
		</div>
	  </div>
	</div>
  </section>

{{ end }}