{{ define "main" }}

    <!--TODO check which ones to use and which one to remove-->

    {{ partial "headerBanner" . }}

    {{ partial "banner" . }}

    <!--
    <div class="align-self-center" style="display: flex; justify-content: center; background-image: linear-gradient(to bottom, rgb(244, 244, 244), rgb(244, 244, 244), rgb(244, 244, 244), white, white, white);">
        <a id="banner-arrow" href="#banner-arrow" class="btn btn-main btn-main-sm blue-button"> V </a>
    </div>
    -->

    {{ partial "features" . }}

    {{ partial "promo" . }}

    {{ partial "products" . }}

    {{ partial "subscription" . }}

    {{ partial "testimonials" . }}

{{ end }}